@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root {
  --bs-body-bg: #F6F3ED;
  --bs-primary: #EC5829;
  --bs-light: #F0EAD9; 
  --bs-light-rgb: 240, 234, 217;
  --bs-primary-rgb: 236, 88, 41;
  --light-color: #F0EAD9;
  --body-bg: #f6f3ed;
  --text-color: #333;
  --bs-dark: #661724;
  --bs-dark-rgb: 102, 23, 36;
  --bs-btn-primary: #EC5829;
  --bs-btn-primary-rgb: 236, 88, 41;
  --bs-btn-bg: #EC5829;

}



.btn-primary{
  background-color: var(--bs-primary);
  background-color: #EC5829;
}

ul{
  list-style: none;
}




.navbar-brand {
  color: #F6F3ED;
}

body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 500px;
  background-color: #E4E6DB;
  background-image: url(../Images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}


